<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment *ngIf="ios" [(ngModel)]="segment" (ionChange)="getAttendance()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
    <ion-title *ngIf="!ios && !showSearchbar">Attendance</ion-title>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText" (ionChange)="getAttendance()" (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment" (ionChange)="getAttendance()">
      <ion-segment-button value="all">
        Attendance
      </ion-segment-button>
      <ion-segment-button (ionChange)="getAnnoucements()">
        Annoucements
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Attendance</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="queryText" (ionChange)="getAttendance()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  
  <ion-list *ngFor="let group of Attendace">
    <ion-item-group>
      <ion-item-divider sticky>
        <ion-label>
          {{group.session.name}}
        </ion-label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <ion-label>
          {{group.session.day}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding>
        <ion-item routerLink="/app/tabs/schedule/session/{{group.session_id}}">
          <ion-label>
            <h3>{{ group.session.name }}</h3>
            <p>
              {{group.session.startTime}} &mdash; {{group.session.endTime}}: &nbsp; &nbsp; {{group.session.comment}}
            </p>
           

            <p>
              <b style="font-size: 17px">Attended time: &nbsp;</b> <span style="font-size: 17px">{{ group.createdAt | date: 'mediumTime' }} </span> 
            </p>

          </ion-label>
          <ion-text [ngClass]="{
            'is-green': group.remark === 'Early',
            'is-red': group.remark === 'Late'
          }">{{ group.remark }}</ion-text>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
            Favorite
          </ion-item-option>
          <ion-item-option color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')"
            *ngIf="segment === 'favorites'">
            Remove
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  <ion-list-header style="text-align: center; margin-top: 50%; font-size: 16px; color: green;" *ngIf = "Attendace.length === 0">
    <span style="color: red;">No Attendance Found </span>
    <span>Register your courses and attend lectures to track your attendance</span>
  </ion-list-header>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
    <ion-fab-button (click)="trackAttendance()">
      Track
    </ion-fab-button>
  </ion-fab>
</ion-content>
